@use "../abstracts"as a;

body {
	background-color: a.$primary-color;
	color: #fff;
	background-image: url(../../Assets/bg-mobile.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	@include a.breakpoint(large) {
		background-image: url(../../Assets/bg-desktop.svg);
	}
}

.container {
	width: 100%;
	padding: a.rem(35);
}

.logo {
	width: a.rem(120);

}